<html>
  <body>
    <h1>Cadastro de Usuário</h1>
    <form action="/user/cadastro/usuario/salvar" method="POST">
      <label>Nome:</label>
      <input type="text" name="nome"><br>
      <label>Senha:</label>
      <input type="password" name="senha"><br>
      <input type="submit" value="cadastro">
    </form>
    <% if(mensagem) { %>
      <p>
        <label style="color: red"><%= mensagem %></label>
      </p>
    <% } %>
  </body>
</html>